{block content}
    <main class="container">
        <h2>Vytvoření nového výrobce</h2>
        {import '../components/bootstrap-form.latte'}
        {include bootstrap-form vyrobciForm}
        <a n:href="default" class="btn btn-primary">Zpět na seznam</a>
    </main>
{/block}

{block scripts}
{include parent}
{/block}


{block head}

{/block}
